alabaster==0.7.9
appdirs==1.4.0
args==0.1.0
astroid==1.4.9
Babel==2.3.4
clint==0.5.1
collective.checkdocs==0.2
docutils==0.13.1
imagesize==0.7.1
isort==4.2.5
Jinja2==2.9.5
lazy-object-proxy==1.2.2
MarkupSafe==0.23
mccabe==0.6.1
pkginfo==1.4.1
Pygments==2.2.0
pylint==1.6.5
pytz==2016.10
requests==2.13.0
requests-toolbelt==0.7.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
Sphinx-PyPI-upload==0.2.1
twine==1.8.1
-e hg+git+ssh://git@github.com/nihlaeth/user_config.git@c0f80a2ef6d72c98d60e11f7ba1ec944a39b2d5a#egg=user_config
wrapt==1.10.8
